<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <div>
        <h1>New Todo</h1>
        <form action="/skills" method="POST" autocomplete="off">
            <label">Skill: </label>
                <input type="text" name="skill">
                <br>
                <label>Proficient: </label>
                <select name="proficient">
                    <option value="false"> false</option>
                    <option value="true"> true </option>
                </select>
                <br>
                <button type="submit">Save skill</button>
        </form>
    </div>
</body>

</html>